<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
           
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
      <main class="mainSection">
        <div>
          <div class="textColor">
           <h1> Orders to be Fulfilled</h1>
           <p>Click the checkmark once an order is complete</p>
          </div>
          
          <% if(activeOrder.length == 0) {%>
           <p class="textColor">No orders pending. Feel free to take a break!</p>
          <%} %>
          <u1>
          <% for (let i = 0; i < activeOrder.length; i++) {%>
            <div class="activeOrders">
              <li>
                <span>Name: <%= activeOrder[i].orderName%></span> 
                <p>Order: <%= activeOrder[i].size%> <%= activeOrder[i].koldDrinks%> <%= activeOrder[i].hotDrinks%> <%= activeOrder[i].teas%> w/ <%= activeOrder[i].milk%> Milk</p>
                <form
                  class="col-1"
                  action="/post/takeOrder/<%= activeOrder[i].id %>?_method=PUT"
                  method="POST">
                  <button class="btn btn-primary bi bi-check-circle" type="submit"></button>
                </form> 
              </li> 
            </div>
          <%}%>
          </ul>
        </div>

        <div >
          <div class="textColor">
            <h1>Waiting For Pickup</h1>
            <p>Delete an order once it's been picked up</p>
          </div> 
          <ul>
          <% for (let i = 0; i < completedOrder.length; i++) {%> 
            <div class= "OrderComplete">
              <li>
                <span><%= completedOrder[i].barista%> completed: <%= completedOrder[i].orderName%>'s order </span>
                <p>Order: <%= completedOrder[i].size%> <%= completedOrder[i].koldDrinks%> <%= completedOrder[i].hotDrinks%> <%= completedOrder[i].teas%> w/ <%= completedOrder[i].milk%> Milk</p> 
              <form
                action="/post/deleteOrder/<%= completedOrder[i].id %>?_method=DELETE" 
                method="POST" 
                class="col-31">
                <button class="btn btn-primary b1 bi-trash" type="submit"></button>
              </form>

              </li>
            </div>
          <%}%>
          </ul>
        </div>
       </main>

    </div>
  </div>
</div>
<%- include('partials/footer') -%>